@import 'MediaQueries';
@import 'Variables';

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Cinzel&family=Lato&family=Montserrat:wght@100;300&family=Nunito:wght@200;400&family=Playfair+Display:wght@400;500&family=Quicksand:wght@300;500&family=Raleway:wght@200;300;400&family=Roboto&family=Sacramento&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.red .blue{
    color: red;
    height: 100vh;
}

.nav{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15.75px;
    line-height: 27.5667px;
    vertical-align: baseline;
    letter-spacing: 0.449978px;
    word-spacing: 0px;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-decoration: rgb(255, 255, 255);
    text-align: start;
    text-indent: 0px;
    height: 11vh;
    // z-index: 45;
    // box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}

.navbar-logo{
  height: 8vh;
}
.dropdown-item{
    font-weight: normal;
    padding-left: 0.4rem;
    text-transform: none;
    &:hover{
    background-color: rgba(255, 255, 255,0);
    text-transform: uppercase;
    font-weight: bolder;
   }
}

.dropdown-menu{
    width: 13rem;
    background-color: rgba(255, 255, 255,0);
    border-color: transparent;
}
.particlejs{
    position:fixed !important;
    left:0;
    top:0;
    width:100vw;
    height:100%;
    background-color: #1b1b1b;
    z-index: -3;
    display:block;
    // background: transparent;
}
.imageOver{
    z-index: 1;
}

.row{
    // height: 4px;
    .intro{
        font-family: 'Cinzel', serif;
        // margin-left: -1em;
        font-size: 42px;
        line-height: 84.0167px;
        vertical-align: baseline;
        letter-spacing: -1.1246px;
        word-spacing: 0em;
        // overflow: hidden;
        z-index: 4;
    }
}

.description{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    word-spacing: 0em;
    box-sizing: border-box;
}

.face{
    height: 15em;
}

.hide-y-scrollbar{
    overflow-y: hidden;
}
.hide-x-scrollbar{
    overflow-x: hidden;
}

.sup {
  vertical-align: super;
  font-size: smaller;
}
.icons{
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box !important;
    position: relative;
}

.faicons{
    height: 1.5em;
    width: 1.5em;
    padding: 0 0.2em;
    opacity: 0.6;
    &:hover{
        height: 1.75em;
        width: 1.75em;
        opacity: 1;
    }
}
.navbar-elements{
    opacity: 0.6;
    &:hover{
        opacity: 1;
    }
}
.horizontal-line{
    margin-top: -1.45em !important;
}





